<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.ECOMConnectionString"
            connectionString="Data Source=.;Initial Catalog=ECOM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.EComIntegrationConnectionString"
            connectionString="Data Source=.;Initial Catalog=ECOM_INTEGRATION;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.ECOMHistoryConnectionString"
            connectionString="Data Source=.;Initial Catalog=ECOM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.EComMonitorConnectionString"
            connectionString="Data Source=.;Initial Catalog=ECOM_MONITOR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.EComPackageConnectionString"
            connectionString="Data Source=.;Initial Catalog=ECOM_PACKAGE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.ECOM_INTEGRATIONConnectionString"
            connectionString="Data Source=.;Initial Catalog=ECOM_INTEGRATION;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.ECOMConnectionString1"
            connectionString="Data Source=.;Initial Catalog=ECOM;Integrated Security=True;Application Name=ECOM"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.ECOMConnectionString2"
            connectionString="Data Source=.;Initial Catalog=ECOM;Integrated Security=True" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.ECOM_INTEGRATIONConnectionString1"
            connectionString="Data Source=.;Initial Catalog=ECOM_INTEGRATION;Integrated Security=True;Application Name=ECOM_INTEGRATION"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.ECOM_MONITORConnectionString"
            connectionString="Data Source=.;Initial Catalog=ECOM_MONITOR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.ECOM_NEWDESIGNConnectionString"
            connectionString="Data Source=.;Initial Catalog=ECOM_NEWDESIGN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.ECOM_NEWDESIGNConnectionString1"
            connectionString="Data Source=.;Initial Catalog=ECOM_NEWDESIGN;Integrated Security=True;Enlist=False;Connect Timeout=60;Application Name=ECOM"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.ECOM_NEWDESIGNConnectionString2"
            connectionString="Data Source=.;Initial Catalog=ECOM_NEWDESIGN;Integrated Security=True;Connect Timeout=60;Application Name=ECOM"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.ECOM_PACKAGEConnectionString"
            connectionString="Data Source=.;Initial Catalog=ECOM_PACKAGE;Integrated Security=True;Connect Timeout=60;Application Name=ECOM"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.ECOM_TESTConnectionString"
            connectionString="Data Source=.;Initial Catalog=ECOM_TEST;Integrated Security=True;Connect Timeout=60;Application Name=ECOM"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.ECOM_PACKAGEConnectionString1"
            connectionString="Data Source=tcp:hq4t6thnfv.database.windows.net,1433;Initial Catalog=ECOM_PACKAGE;Integrated Security=False;User ID=ngidbuser@hq4t6thnfv;Password=NGI?innovation;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.ECOM_MONITORConnectionString1"
            connectionString="Data Source=.;Initial Catalog=ECOM_MONITOR;Integrated Security=True;Connect Timeout=60;Application Name=ECOM_INTEGRATION"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.PROD_ECOM_PACKAGEConnectionString"
            connectionString="Data Source=tcp:wrqsh5npmo.database.windows.net,1433;Initial Catalog=PROD_ECOM_PACKAGE;Integrated Security=False;User ID=ngidbuser@wrqsh5npmo;Password=NGI?innovation;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.PROD_ECOMConnectionString"
            connectionString="Data Source=tcp:lztkl0li24.database.windows.net,1433;Initial Catalog=PROD_ECOM;Persist Security Info=True;User ID=beymendbuser@lztkl0li24;Password=mJao4Cqy"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.Copy_PROD_ECOMConnectionString"
            connectionString="Data Source=tcp:lztkl0li24.database.windows.net,1433;Initial Catalog=Copy_PROD_ECOM;User ID=beymendbuser@lztkl0li24;Password=mJao4Cqy;Enlist=False;MultipleActiveResultSets=True;Connect Timeout=300"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.PROD_ECOMConnectionString1"
            connectionString="Data Source=tcp:es8ehthe1f.database.windows.net,1433;Initial Catalog=PROD_ECOM;User ID=ngidbuser@es8ehthe1f;Enlist=False;MultipleActiveResultSets=True;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.PROD_ECOMConnectionString2"
            connectionString="Data Source=tcp:es8ehthe1f.database.windows.net,1433;Initial Catalog=PROD_ECOM;User ID=ngidbuser@es8ehthe1f;Password=NGI?innovation;Enlist=False;MultipleActiveResultSets=True;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
        <add name="Entegral.ECommerce.DataContext.Properties.Settings.PROD_ECOMConnectionString3"
            connectionString="Data Source=tcp:es8ehthe1f.database.windows.net,1433;Initial Catalog=PROD_ECOM;User ID=ngidbuser@es8ehthe1f;Enlist=False;Connect Timeout=300"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
